{% extends 'base.html'%}

{% block 'titulo'%}
{{livro.titulo}}
{% endblock %}


{%block 'conteudo'%}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mt-2">
    <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'produtos'%}">Lista de produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Produto</li>
  </ol>
</nav>

{% include 'parciais/_messages.html'%}

<h1 class="text-center my-5 text-danger">Informações sobre o produto</h1>
          

      <div class="row ">
        <div class="col-lg-5">
          <div class="text-center">
            <img src="{{livro.capa.url}}" style="width: 80%; box-shadow: 10px 10px 10px rgb(175, 175, 175);">
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-1"></div>
        
        <div class="col-lg-6 text-center bg-success" style="box-shadow: 10px 10px 10px rgb(175, 175, 175);">
          <h1 class="text-warning my-3">{{livro.titulo}}</h1>
          <h6 class="text-info">Autor: {{livro.autor}}</h6>
          <h4>Sinopse:</h4>
            <div class="text-light">
              {{livro.sinopse|linebreaks}}
            </div>
          <h3 class="text-light">Preço: <b class="text-warning">R$ {{livro.preco}}</b></h3>

          <span class="text-light">Avaliação:</span>
          <p class="text-light">{{livro.avaliacao_livro}}/5 <i class="fa-solid fa-star text-warning"></i></p>
          
          <span class="text-light">Número de avaliações deste livro:</span>
          <p class="text-light">{{livro.numero_avaliacoes}}</p>

          {% if livro.estoque > 0%}
          <p class="text-light">Produto em estoque</p>
          <div class="my-5">
            <a href="{% url 'add_carrinho' livro.id%}" class="btn btn-primary">Adicionar ao carrinho <i class="fa-solid fa-cart-shopping"></i></a>
          </div>
          {% else %}
          <p class="text-light">Produto em falta</p>
          <p class="text-light">Em breve estaremos reabastecendo o estoque</p>
          <div class="my-5">
            <a href="#" class="btn btn-warning">Avise-me quando estiver disponível</a>
          </div>
          {% endif %}
          
          <div class="my-5">
            <a href="{% url 'avaliacao' livro.id%}" class="btn btn-light">Deixe sua avaliação desta obra</a>
          </div>

          <div class="my-5">
            <a href="{% url 'ver_avaliacoes' livro.id%}" class="btn btn-warning">Ver todas as avaliações</a>
          </div>

        </div>
        
      </div>


{% endblock %}